@model Tracker_System.Models.TrackerSystemModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>User Login Report page </h1>
    </div>
</body>
</html>
