.ziptable {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
.ziptable tr:nth-of-type(odd) {
        background: #eee;
    }

    .ziptable th {
        background: #64A4CA;
        color: white;
        font-weight: bold;
    }

.ziptable td, .ziptable th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
}

/* 
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    .ziptable, .ziptable thead, .ziptable tbody, .ziptable th, .ziptable td, .ziptable tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .ziptable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .ziptable tr {
            border: 1px solid #ccc;
        }

        .ziptable td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            .ziptable td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }

        /*
		Label the data
		*/
            .ziptable td:nth-of-type(1):before {
                content: "First Name";
            }

            .ziptable td:nth-of-type(2):before {
                content: "Last Name";
            }

            .ziptable td:nth-of-type(3):before {
                content: "Job Title";
            }

            .ziptable td:nth-of-type(4):before {
                content: "Favorite Color";
            }

            .ziptable td:nth-of-type(5):before {
                content: "Wars of Trek?";
            }

            .ziptable td:nth-of-type(6):before {
                content: "Porn Name";
            }

            .ziptable td:nth-of-type(7):before {
                content: "Date of Birth";
            }

            .ziptable td:nth-of-type(8):before {
                content: "Dream Vacation City";
            }

            .ziptable td:nth-of-type(9):before {
                content: "GPA";
            }

            .ziptable td:nth-of-type(10):before {
                content: "Arbitrary Data";
            }
}

