
#menu * {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
 
}
div#menu {
position:relative;}
#menu ul.menu {
  white-space: nowrap;
}

/* Geometrical arrangement */
#menu ul.menu li {
  display: inline-block;
 
  position: relative;
}

#menu ul.menu li div {
  position: absolute;
  top: 30px;
  left: 0px;
}

#menu ul.menu li div div {
  position: absolute;
 
}

/* Escaping style for lower levels */
#menu ul.menu li div ul li {
  display: block;
  float: none;
  width: auto;
  height: auto;
}

/** Graphics **/

/* Horizontal sliding doors */
#menu ul.menu li a {
  padding-left: 7px;
 background-color:#49956d;
  display: inline-block;
  margin: 0px 5px;
  
}

#menu ul.menu li a span {
  padding-right: 7px;
  padding-left: 0px;
  background-color:#49956d;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  cursor: pointer;

}

#menu ul.menu li:hover a {
  background-position: left -90px;
}

#menu ul.menu li:hover a span {
  background-position: right -135px;
}

#menu ul.menu li.active a {
  background-position: left 0px;
}

#menu ul.menu li.active a span {
  background-position: right -45px;
}

/* Escape Horizontal doors */
#menu ul.menu li div ul li a {
  display: block;
  padding: 0px;
  margin: 0px;
  background: none;
}

#menu ul.menu li div ul li a span {
  display: block;
  padding: 0px;
  background: none;
  height: auto;
  line-height: 14px;
  padding: 10px 0 10px 12px;
  white-space: normal;  
}

/* Vertical sliding doors */
#menu ul.menu li div { 
  width: 125px;
 
}

#menu ul.menu li div ul { 

}

/* Hover Effect on Submenus */
#menu ul.menu ul li:hover
{
  background-color:#b2cab0;
}

#menu ul.menu ul li:hover>a
{
  background-color:#b2cab0;
}


/* Main header line */
#menu {
 float:right; 
 z-index:9999;
}

/* Text shadow */
#menu span
{
  color: #ffffff;
}

#menu li:hover>a>span 
{
  color: #ffffff;
 
}

/* Fonts */
#menu ul.menu li a span
{ 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  
}

#menu ul.menu li div ul li a span
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color:#000000;
}

/* Lines between li */
#menu ul.menu li div ul
{
 
}

#menu ul.menu li div ul li:first-child
{
  border-top-width: 0px;
}


/* Menu logic */
#menu li>div { visibility: hidden; }
#menu li:hover>div { visibility: visible; }
/* */

/* Hover Effect on Submenus */
#menu ul.menu ul li:hover
{
  background-color: #e6f1eb;
}

/* Lines between li */
#menu ul.menu li div ul li
{
  border:1px solid #c0d3c0;
  border-top:none;
  
}

/* ie7 */
#menu ul.menu li {
  *zoom: 1;
  *display: inline;
}

#menu ul.menu li a {
  *zoom: 1;
  *display: inline;
}

#menu ul.menu li a span {
  *zoom: 1;
  *display: inline;
}

#menu ul.menu li div ul li a {
  *display: inline;
}

/* Discarding semi-transparency */
#menu ul.menu ul li:hover
{
  *background-image: none;
}

#menu ul.menu ul li:hover>a
{
  *background-image: none;
}

/* IE6 */
#menu ul.menu li a {
 
}

#menu ul.menu li a span {
 
}

#menu ul.menu li div { 
  
}

#menu ul.menu li div ul { 
 
}

#menu ul.menu li a:hover {
  _background-position: left -90px;
}

#menu ul.menu li a:hover span {
  _background-position: right -135px;
}

/* Menu logic for IE6 */
#menu div { _display: none; }
#menu div li:hover div { _display: block; }
#menu div li:hover li:hover div { _display: block; }
#menu div li:hover li:hover li:hover div { _display: block; }
/* */